block content
    h1= title
    form#formAddUser(name="addpost",method="post",action="/posts")
        input#inputPost(type="text", placeholder="post", name="post")
        input#inputUser(type="text", placeholder="user", name="user")
        button#btnSubmit(type="submit") submit